{% extends 'layout.html' %}

{% block body %}

<div class="col-md-5 form-center">
    <div class="card border-primary mb-2" style="padding: 40px;">
        <div class="card-header">AGREGAR DATOS DEL CLIENTE</div>
        <form action="/client/save" method="POST">
            <form name="Validar" method="post">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nombre(s)" class="form-control" onkeypress="return SoloLetras(event);" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Apellidos" class="form-control" onkeypress="return SoloLetras(event);" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" name="dni" placeholder="CC. Número de identificación" class="form-control" onkeypress="return SoloNumeros(event);" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="selectGender" class="form-label mt-1"><i>Género</i></label>
                    <select class="form-select" id="selectGender" name=idGender method="GET" action="/">
                        {% for gen in gender %}
                            <option value= "{{gen.0}}" SELECTED>{{gen.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <i>Fecha de nacimiento</i>
                    <input id="date-picker" type="date" name="date" placeholder="Fecha" class="form-control" oninput="return Edad(event)" required>
                </div>
                <div class="form-group">
                    <label for="selectCity" class="form-label mt-1"><i>Municipio de nacimiento</i></label>
                    <select class="form-select" id="selectCity" name=idMuni method="GET" action="/">
                        {% for city in cities %}
                            <option value="{{city.0}}">{{city.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="tel" placeholder="Teléfono fijo" class="form-control" onkeypress="return SoloNumeros(event);" maxlength="7" required>
                </div>
                <div class="form-group">
                    <input id="telephone" type="text" name="phone" placeholder="Teléfono celular" class="form-control" onkeypress="return SoloNumeros(event);" maxlength="10" required>
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Correo electrónico" class="form-control" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" name="address" placeholder="Dirección de la residencia" class="form-control" maxlength="255" required>
                </div>  
                <div class="form-group">
                    <label for="selectPlan" class="form-label mt-1"><i>Plan</i></label>
                    <select class="form-select" id="selectPlan" name=idPlan method="GET" action="/">
                        {% for pl in plan %}
                        {% for company in companies %}
                        {% if company.0 == pl.3 %}
                            <option value="{{pl.0}}">{{company.1.upper()}} {{pl.1}}</option>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" value="Validar" class="btn btn-success btn-block btn-lg">
                        Agregar
                    </button>
                </div>
            </form>
            <div class="form-group">
                <a href="/" class="btn btn-back"><i class="fas fa-arrow-left"></i></a>
            </div>
        </form>
    </div>
    <div class="feet"></div>
</div>

{% endblock %}