{% extends 'layout.html' %}

{% block body %}

<div class="col-md-5 form-center">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="card border-primary mb-2" style="padding: 40px;">
        <div class="card-header">AGREGAR DATOS DEL PLAN</div>
        <form action="/plan/save" method="POST">
            <form name="Validar" method="post">
                <div class="form-group">
                    <input type="textarea" name="name" placeholder="Nombre del plan (ej: Triple Play)" class="form-control" onkeypress="return SoloLetras(event);" maxlength="50" required>
                </div>
                <div class="form-group">
                    <textarea name="description" rows="10" cols="40" placeholder="Descripción del plan" class="form-control" maxlength="1000" required></textarea>
                </div>
                <div class="form-group">
                    <label for="selectCompany" class="form-label mt-1"><i>Empresa a la que pertenece el servicio</i></label>
                    <select class="form-select" id="selectCompany" name=idComp method="GET" action="/">
                        {% for company in companies %}
                            <option value="{{company.0}}">{{company.1}}</option>
                        {% endfor %}
                    </select>
                </div>              
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" value="Validar" class="btn btn-success btn-block btn-lg">
                        Agregar
                    </button>
                </div>
            </form>
            <div class="form-group">
                <a href="/" class="btn btn-back"><i class="fas fa-arrow-left"></i></a>
            </div>
        </form>
    </div>
    <div class="feet"></div>
</div>

{% endblock %}